{
  "env": { //окружение 
    "browser": true, //показываем в каком окружении мы работаем(область видимости в рамках браузера)
    "es6": true, //для поддержки фитч экмаскрипт6
    "node": true //для поддержки окружения глобальных переменных ноды
  },
  "extends": ["airbnb"],  //конфигурации, которые хотим применить к своему проекту
  "rules": {
    //"semi":"off" отключим обязательную точку с запятой
    "no-plusplus":"off", //отключим запрет на использование ++
    "eol-last":"off", //отключим обязательную пустую строку в конце файла
    "max-len": ["error", 120, {"ignoreUrls": true}], //мaксимальная длина строки 120 символов
    "no-tabs":"off", //отключим запрет на использование таба
    "prefer-destructuring":"off" //отключим обязательное оиспользование деструктуризации
    //"indent":"off"  чтобы не проверялось идут пробелы или табы или подробнее,конкретно на таб "indent": ["off","tab"]
    //либо указать количество пробелов и что мы разрешаем табы "indent": [2, "tab"]
  }
}